[Desktop Entry]
Name=AuraLink
Comment=Manage Wi-Fi and VPN connections with style
Exec=auralink
Icon=network-wireless
Terminal=false
Type=Application
Categories=Network;Settings;
StartupNotify=true
StartupWMClass=auralink
